<h2>Comment</h2>

<p><%= @comment.content %></p>
<p>Written by: <%= @comment.author.username %></p>


<!-- Replying to this comment (adding a child) -->
<form action="<%= comments_url %>" method="post">
  <%= authenticity_token %>
  <input type="hidden" name="comment[post_id]" value="<%= @comment.post.id %>">
  <input type="hidden" name="comment[parent_comment_id]" value="<%= @comment.id %>">

  <label>Comment
    <textarea name="comment[content]" rows="4" cols="20"></textarea>
  </label>

  <button>Add Comment</button>
</form>
