<h2>
  <%= @sub.title %>
</h2>

<p>
  <%= @sub.description %>
</p>

<p>
  Moderator: <%= @sub.moderator.username %>
</p>

<table>
<% @sub.posts.each do |post| %>
<tr>
  <th>Title</th>
  <td><a href="<%= post_url(post) %>"><%= post.title %></a></td>
</tr>
<tr>
  <th>Author</th>
  <td><%= post.author.username %><br></td>

</tr>
<% end %>
</table>

<% if is_moderator? %>
  <a href="<%= edit_sub_url(@sub) %>">Edit Sub</a>
<% end %>

<a href="<%= subs_url %>">All Subs</a>

<a href="<%= new_post_url %>">New Post</a>
