<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p> <%= error %> </p>
  <% end %>
<% end %>

<%= yield %>

<hr>

<% if signed_in? %>
  <p>Logged In as: <%= current_user.username %></p>
  <form action="<%= session_url %>" method="post">
    <%= authenticity_token %>
    <input type="hidden" name="_method" value="delete">
    <button>Log Out</button>
  </form>
<% else %>
  <form action="<%= new_session_url %>" method="post">
    <input type="hidden" name="_method" value="get">
    <%= authenticity_token %>
    <button>Sign In</button>
  </form>

  <form action="<%= new_user_url %>" method="post">
    <input type="hidden" name="_method" value="get">
    <%= authenticity_token %>
    <button>Sign Up</button>
  </form>

<% end %>


</body>
</html>
